/* 
    Document   : DisplayStyle
    Created on : May 15, 2013, 12:30:56 AM
    Author     : Tanmay Patil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    display: block;
    font-size: 14px;
    color: #EEEEEE;
    background-color: black;
    width: 100%;
    font-family: Calibri,'Times New Roman';
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    position: fixed;
}

.myform {
    color: #FFFFFF;
    background-color: #333333;
    width:60%;
    margin: 135px auto;
    margin-bottom: 0;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.controlbar {
    color: #FFFFFF;
    background-color: #777777;
    opacity: 0.9;
    width:100%;
    height: 20px;
    position: fixed;
    margin: 0px auto;
    top: 100px;
    padding: 5px;
    padding-right: 100px;
}

.logo {
    margin-top: 40px;
    padding: 0;
    float: left;
    margin-left: 5%;
}

.title {
    background-color: #000000;
    opacity: 0.75;
    font-family: Arial;
    margin: 0px;
    padding: 0;
    padding-top: 20px;
    padding-left: 15%;
    margin-left: 20%;
    height : 80px;
}

.question {
    margin: 5px;
    padding: 0;
    background: #222222
}

.loginbutton {
    margin : 0 auto;
    padding: 0px;
    padding-right: 10%;
    float: right
}
